#body-index {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #015291;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 2vh;
    overflow: hidden;
}

.contenue {
    position: relative;
    background-color: #015291;
    border-radius: 4.6vh;
    width: 80vw;
    height: 80vh;
    margin: 4vh auto;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-align: center;
    z-index: 0;
    overflow: hidden;
    box-shadow: 0 0.2vh 0.8vh rgba(0, 0, 0, 0.1);
}

.contenue::after {
    content: "";
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #004473;
    filter: blur(0.3vh);
    left: 0;
    top: 0;
    border-radius: 4.6vh;
}

.contenue::before {
    content: "";
    position: absolute;
    top: -0.6vh;
    left: -0.6vw;
    width: calc(100% + 1.2vw);
    height: calc(100% + 1.2vh);
    background: linear-gradient(45deg,
            orange, gold, orange, #015291, #ff7300, orange, gold, orange);
    background-size: 400%;
    border-radius: 4.6vh;
    filter: blur(0.6vh);
    opacity: 1;
    z-index: -2;
    animation: glowing 39s linear infinite;
    pointer-events: none;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}


.liens {
    width: 98%;
    position: absolute;
    top: 0.01634414148vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vh;
    z-index: 10;
    background-color: #004473;
    border-radius: 4.6vh;
}

.liens-projets {
    width: 98%;
    margin: 4vh auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vh;
    background-color: #004473;
    border-radius: 4.6vh;
    padding: 2vh 0;
}

.btn {
    margin: 0 0.8vh;
    padding: 0.2vh;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 50%;
    background: none;
    width: 4.8vh;
    height: 4.8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn::after {
    content: "";
    z-index: -2;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #015291;
    left: 0;
    top: 0;
    border-radius: 50%;
}

.btn::before {
    content: "";
    background: linear-gradient(45deg,
            #FF0000, #FF7300, #FFFB00, #48FF00,
            #00FFD5, #FF0000);
    position: absolute;
    top: -0.2vh;
    left: -0.2vh;
    background-size: 600%;
    z-index: -2;
    width: calc(100% + 0.4vh);
    height: calc(100% + 0.4vh);
    filter: blur(0.5vh);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 50%;
    opacity: 0;
}

.btn:hover::before {
    opacity: 1;
}

.btn:active {
    color: #000;
    font-weight: bold;
}

.icon-img {
    width: 3.6vh;
    height: 3.6vh;
    object-fit: contain;
    border-radius: 50%;
}

.logo {
    position: absolute;
    bottom: 2vh;
    right: 2vh;
    width: 12vh;
    height: 12vh;
    object-fit: contain;
    border-radius: 50%;
    z-index: -1;
}



.acceuil {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.presentatn {
    display: flex;
    width: 97%;
    top: 64%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 20.0vh;
}

.P {
    animation: pousser-projets 3s ease-in-out forwards;
}

.RdeP {
    animation: revenir-projets 3s ease-in-out forwards;
}

.reas {
    display: flex;
    flex-direction: row;
    gap: 9.0vh;
    justify-content: center;
}

.reas button {
    margin: 1.0vh;
    width: 18.0vh;
    height: 18.0vh;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    background: #f1a923;
    color: #fff;
    border: none;
    position: relative;
    z-index: 1;
    white-space: nowrap;
}

.reas button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #015291;
    left: 0;
    top: 0;
    border-radius: 50%;
}

.reas button::after {
    background-color: #f1a923;
}

.reas button:active {
    color: #ffffff;
    font-weight: 100;
}

.reas button:active::after {
    background: linear-gradient(45deg,
            orange, gold, orange);
}

.mes-projets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 97%;
    gap: 5vh;
    top: 95%;
}

@keyframes pousser-projets {
    100% {
        transform: translateY(-70vh);
    }
}

@keyframes revenir-projets {
    0% {
        transform: translateY(-70vh);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes pousser-autres {
    100% {
        transform: translateY(75vh);
    }
}

@keyframes revenir-autres {
    0% {
        transform: translateY(75vh);
    }

    100% {
        transform: translateY(0);
    }
}


.retour-projets {
    margin: 0 0.8vh;
    padding: 0.2vh;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 50%;
    background-color: #f1a923;
    width: 4.8vh;
    height: 4.8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.retour-projets.autres {
    transform: rotate(180deg);
}

.mes-autres-reas {
    display: flex;
    bottom: 165%;
    width: 97%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 5.0vh;
}

.A {
    animation: pousser-autres 3s ease-in-out forwards;
}

.RdeA {
    animation: revenir-autres 3s ease-in-out forwards;
}


.selection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    gap: 1vh;
}

.bloc-bouton {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f1a923;
    border-radius: 0.8vh;
    padding: 1vh;
    padding-bottom: -1vh;
    margin: 7vh;
    width: fit-content;
}

.description {
    opacity: 0;
    max-height: 0;
    overflow: visible;
    transition: opacity 0.3s ease, max-height 0.3s ease;
    margin-top: 1vh;
    background: #ffffff8b;
    color: #000;
    border-radius: 0.5vh;
    font-size: 1.6vh;
    width: 100%;
    text-align: center;
}

.description {
    font-size: 1.4vh;
    white-space: normal;
    word-break: break-word;
    padding: 1vh;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 0.3s ease, max-height 0.3s ease;
}


.bloc-bouton:hover .description {
    opacity: 1;
    max-height: 20vh;
}


.bloc-projets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #f1a923;
    color: #ffffff;
    border-radius: 0.8vh;
    font-size: 2.4vh;
    cursor: pointer;
    font-weight: bold;
    font-size: 2vh;
    border: none;
    white-space: nowrap;
    gap: 1vh;
}

.icon-img.bouton {
    width: 20vh;
    height: 20vh;
    border-radius: 4%;
    object-fit: cover;
    filter: drop-shadow(0 4px 6px rgb(182, 98, 3));
}

/****************************** bienvenue ******************************/
/* Sélectionne le lien */
a.tuto-lien {
    color: #ffffff;
    background-color: transparent;
    text-decoration: none;
    padding-bottom: 2vh;
    transition: all 0.3s ease;
    border-bottom: #00437300 2vh solid;
}

a.tuto-lien:hover {
    color: #f1a923;
    background-color: #015291;
    border: #f1a923 0.2vh solid;
    padding: 1vh;
}

/***********************************************************************************************************************************************************/
/* div bienvenue */
/***********************************************************************************************************************************************************/


.defilement-1 {
    max-width: 63.5vh;
    overflow: hidden;
    border: 0.64vh solid #A6CAEC;
}

.defilement-1 .defilement {
    animation: slider-1 44s infinite ease-in-out;
    display: flex;
}

.defilement p {
    background: #144475;
    flex-shrink: 0;
    padding: 7.62vh 0;
    width: 100%;
    text-align: center;
    font-size: 2.6vh;
    color: #ffffff;
    margin: 0;
}

.image-texte {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
    padding: 7.62vh 0;
    width: 100%;
    text-align: center;
    font-size: 2.4vh;
    color: #f1f1f1;
    background: #000;
}

.texte {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    text-align: center;
    font-size: 2.4vh;
    color: #f1f1f1;
    background: #000;
    padding: 4vh;
    border-radius: 1vh;

}

.image-texte img {
    width: 100%;
    height: auto;
}

#bienvenue {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: #144475;
    z-index: 3;
}

@keyframes slider-1 {

    0%,
    41% {
        transform: translateX(0);
    }

    46.36%,
    59% {
        transform: translateX(-100%);
    }

    64.54%,
    77% {
        transform: translateX(-200%);
    }

    82.72%,
    95% {
        transform: translateX(-300%);
    }

    100% {
        transform: translateX(-400%);
    }
}

#sombre {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.404);
    z-index: 2;
    display: none;
}

.bouton-bienvenue {
    position: absolute;
    top: 2vh;
    left: 2vh;
    background-color: #f1a923;
    color: #000;
    border: none;
    padding: 1vh 2vh;
    border-radius: 0.8vh;
    font-size: 2.4vh;
    cursor: pointer;
}
/***********************************************************************************************************************************************************/
/*********************************PROJETS*********************************/
/*********************************ARBRE*********************************/
/***********************************************************************************************************************************************************/
#body-projet-arbre {
    background-color:#e2ffff;
    font-family: Arial, sans-serif;
    display: grid;
        grid-template-areas: " titre  "
                        " p "
                        " resume "
                        " structure "
                        " fonction "
                        " defis "
                        " amels "
                        " liens ";
    grid-row-gap: 10vh ;
}

.fond {
    position: fixed;
    top: 70%;
    right: 0;
    width: 300px;
    height: 300px;
    opacity: 0.1;
    z-index: -1;
    transform: rotate(195deg);
}


h1 {
    color: rgba(0, 102, 204, 0.226);
    text-align:left;
    margin-top: 20vh;
    font-size: 20vh;
}


@keyframes apparition{
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.description-rapide {
    color: rgb(51, 51, 51);
    text-align: right;
}

#titre {
    grid-area: titre;
    margin-bottom: -20vh; /* ou essaye 0, 1vh, -2vh selon le rendu souhaité */
}


#p {
    grid-area: p;
}


#p p{
    font-size: 1.7vh;
    color: rgb(0, 102, 204);
    text-align: center;
    margin-right: 0vh;
}

#p p:nth-child(1){ 
    animation: apparition 2s;
    animation-iteration-count: 0s;
}

#p p:nth-child(2){ 
    animation: apparition 5s;
    animation-iteration-count: 0s;
}

#p p:nth-child(3){ 
    animation: apparition 7s;
    animation-iteration-count: 0s;
}

#p p:nth-child(4){ 
    animation: apparition 9s;
    animation-iteration-count: 0s;
}

#p p:nth-child(5){ 
    animation: apparition 11s;
    animation-iteration-count: 0s;
}


@keyframes fade-up{
    from {
        opacity: 0;
        transform: translateY(10px) scale(0.9);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

h2 {
    color: rgba(0, 102, 204, 0.226);
    font-size: 15vh;
    animation: fade-up both;
    animation-timeline: view();
}

.timeline-item{
    animation-range : entry 25% cover 35%;
}

#resume p, #structure p, #fonction p, #defis p, #amels p, p {
    color: rgb(51, 51, 51);
    font-size: 2vh;
    line-height: 1.6;
    font-weight: bold;
    margin: 2vh 2vh;
}

#resume {
    grid-area: resume;
}

#structure {
    grid-area: structure;
}

#defis {
    grid-area: defis;
}

#amels {
    grid-area: amels;
}

#liens {
    grid-area: liens;
}

#resume, #structure, #defis, #amels, #liens {
    display: block; /* ou flex si besoin */
    /* supprime grid-template-rows */
}

#fonction {
    display: flex;
    flex-direction: column;
}


/****************************************** PLAYLIST  ******************************************/


#playlist {
    width: fit-content;
    align-items: center;
    max-width: 80vw;
    margin: 0 auto;
    display: flex;
    gap: 2vh;
    padding: 2vh;
    border-radius: 1vh;
}

.media-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
  padding: 2vh;
  border-radius: 1vh;
}

.btn {
    padding: 1vh 2vh;
    font-size: 2vh;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
    background-color: #5cb4b4;
    color: #fcfcfc;
}

video {
    width: 80vh;
    height: auto;
}

.imageplaylist{
    width: 80vh;
    height: auto;
}

.fonc-element{
    filter: drop-shadow(4px 4px 6px #77b8b8);
}

.pois {
  display: flex;
  justify-content: center;
  gap: 1vh;
}

.pois-span {
    width: 2vh;
    height: 2vh;
    border-radius: 50%;
    background-color: #5cb4b4;
    display: inline-block;
    margin: 0 0.7vh;
    box-shadow: 0 2px 6px #77b8b8;
    border: 2px solid #fff;
    transition: background 0.3s;
}

.caption p {  
    align-items: center;
    top: center;
    gap: 1vh;
}

/* liens */
.icon-img {
    width: 3.6vh;
    height: 3.6vh;
    object-fit: contain;
    border-radius: 50%;
}

#liens  {
    /* background-color: #004473; */
}

.liens {
    width: 98%;
    position: absolute;
    top: 0.01634414148vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vh;
    z-index: 10;
    background-color: #004473;
    border-radius: 4.6vh;
}

.liens-projets {
    width: 98%;
    margin: 4vh auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vh;
    background-color: #004473;
    border-radius: 4.6vh;
    padding: 2vh 0;
}

.btn {
    margin: 0 0.8vh;
    padding: 0.2vh;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 50%;
    background: none;
    width: 4.8vh;
    height: 4.8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Boutons réseaux */
.btn {
    margin: 0 0.8vh;
    padding: 0.2vh;
    border: none;
    outline: none;
    color: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 50%;
    background: none;
    width: 4.8vh;
    height: 4.8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Boutons playlist */
.btn-playlist {
    padding: 1vh 2vh;
    font-size: 2vh;
    border: none;
    border-radius: 1vh;
    cursor: pointer;
    background-color: #5cb4b4;
    color: #fcfcfc;
    margin: 1vh;
    width: auto;
    height: auto;
    display: inline-block;
}

#liens-footer{
    width: 98%;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5vh;
    z-index: 10;
    background-color: #004473;
    border-radius: 4.6vh;
    padding: 2vh 0;
}

/*      ECRAN       */


































/* media query */
@media (max-width: 768px) {
    .contenue {
        width: 90vw;
        height: 90vh;
    }

    .liens {
        top: 0%;
    }

    .btn {
        width: 5vh;
        height: 5vh;
    }

    .presentatn {
        top: 70%;
        gap: 15vh;
    }



    .reas button {
        width: 15vh;
        height: 15vh;
        font-size: 0.8rem;
        white-space: wrap;
    }


    .mes-autres-reas {
        bottom: 180%;
        gap: 3vh;
    }

    .mes-projets {
        top: 114%;
        gap: 3vh;
    }

    .selection {
        display: flex;
        flex-direction: column;
        gap: 0vh;
    }

    @keyframes pousser-projets {
        100% {
            transform: translateY(-90vh);
        }
    }

    @keyframes revenir-projets {
        0% {
            transform: translateY(-90vh);
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes pousser-autres {
        100% {
            transform: translateY(105vh);
        }
    }

    @keyframes revenir-autres {
        0% {
            transform: translateY(105vh);
        }

        100% {
            transform: translateY(0);
        }
    }

    .retour-projets {
        position: absolute;
        top: -5%;
    }

    .retour-projets.autres {
        top: 100%;
    }


    .bloc-bouton {
        width: fit-content;
        word-wrap: break-word;
        max-height: fit-content;
        margin: 3vh;
    }

    .bloc-projets {
        font-size: 1.6vh;
        padding: 0%;
        margin: 0%;
    }

    .description {
        opacity: 0;
        max-height: 0;
        overflow: visible;
        transition: opacity 0.3s ease, max-height 0.3s ease;
        white-space: normal;
        padding: 1vh;
        font-size: 1.4vh;
        width: 100%;
        box-sizing: border-box;
    }

    .bloc-bouton:hover .description {
        opacity: 1;
        max-height: 100vh;
    }

    .icon-img.bouton {
        width: 18vh;
        height: 18vh;
    }

    #bienvenue {
        width: 90vw;
        height: 60vh;
    }

}