body{
    background-color:rgb(226, 255, 255);
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-areas: " titre  "
                        " p "
                        " resume "
                        " structure "
                        " fonction "
                        " defis "
                        " amels ";
    grid-row-gap: 10vh ;
}


h1 {
    color: rgba(0, 102, 204, 0.226);
    text-align:left;
    margin-top: 20vh;
    font-size: 20vh;
    position: absolute;
}

p {
    color: rgb(51, 51, 51);
    font-size: 2vh;
    line-height: 1.6;
    margin: 2vh 2vh;
    font-weight: bold;
    border: 5px solid rgb(0, 204, 17);
}

@keyframes apparition{
    0% {opacity: 0;}
    50% {opacity: 0;}
    100% {opacity: 1;}
}

.description-rapide {
    color: rgb(51, 51, 51);
    text-align: right;
}

#titre{
    grid-area: titre;
    height: 30vh;
    border: 10px solid rgb(0, 102, 204);
}

#p p{
    grid-area: p;
    font-size: 1.7vh;
    color: rgb(0, 102, 204);
    text-align: center;
    margin-right: 0vh;
}

#p p:nth-child(1){ 
    animation: apparition 2s;
    animation-iteration-count: 0s;
}

#p p:nth-child(2){ 
    animation: apparition 5s;
    animation-iteration-count: 0s;
}

#p p:nth-child(3){ 
    animation: apparition 7s;
    animation-iteration-count: 0s;
}

#p p:nth-child(4){ 
    animation: apparition 9s;
    animation-iteration-count: 0s;
}

#p p:nth-child(5){ 
    animation: apparition 11s;
    animation-iteration-count: 0s;
}

#resume {
    grid-area: resume;
    display: grid;
    grid-template-rows: 300px 50px;
    border: 10px solid rgb(0, 102, 204);
}

@keyframes fade-up{
    from {
        opacity: 0;
        transform: translateY(10px) scale(0.5);
    }
    to {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

h2 {
    color: rgba(0, 102, 204, 0.226);
    font-size: 15vh;
    border: 5px solid rgb(204, 156, 0);
    animation: fade-up both;
    animation-timeline: view();
}

.timeline-item:nth-child(1){
    animation-range : entry 20% cover 40%;
}

.resume p {
    color: rgb(51, 51, 51);
    font-size: 2vh;
    line-height: 1.6;
    font-weight: bold;
}

#structure {
    grid-area: structure;
    display: grid;
    grid-template-rows: 300px 50px;
    border: 10px solid rgb(0, 102, 204);
}

#fonction {
    grid-area: fonction;
    display: grid;
    grid-template-rows: 300px 50px;
    border: 10px solid rgb(0, 102, 204);
}

#defis {
    grid-area: defis;
    display: grid;
    grid-template-rows: 300px 50px;
    border: 10px solid rgb(0, 102, 204);
}

#amels {
    grid-area: amels;
    display: grid;
    grid-template-rows: 300px 50px;
    border: 10px solid rgb(0, 102, 204);
}